:root {
  --primary: #033E8C;
  --secondary: #849EBF;
  --tertiary: #023E73;
  --background: #f4f7f9;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
}
img{
  width: 80px;
}
header {
  display: inline-block;
  background-color: var(--primary);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}